.team-each-image{
	height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: end;
    background-repeat: no-repeat;
    background-size : cover;
    background-position: center;
	background-image: url('https://tigers.co.kr/files/banner/2023/02/08/catchphrase_pc.png');
}

