*{box-sizing: border-box;}


.container{
    width: 1024px;
    height: 1100px;
}

section{
    margin-top: 50px;
}

/* main-top(인기 게시글) */
.main-top{
    height: 200px;
    width: 100%;
}

.title{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-top .title span{
    margin-left: 70px;
}


.popular{
    height: 150px;
    display: flex;
}

.popular-area{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popular-post{
    width: 380px;
    height: 100px;
    cursor: pointer;
}

.post-title{
    height: 30px;
    align-content: center;
}

.post-title span{
    margin-right: 5px;
}

.post-content{
    height: 50px;
    align-content: center;
}

.post-info{
    height: 20px;
    display: flex;
    justify-content: space-between;
}

main hr{
    width: 400px;
}

/* 메인 미드 (전체, 베스트 댓글) */
.main-mid{
    height: 300px;
    display: flex;
    gap : 80px;
}

.main-mid article{
    flex-basis: 50%;
}



/* 전체 */


.board-title>hr{
    width: 500px;
}

.mg-left{
    margin-left: 70px;
}

.board{
    height: 300px;
    cursor: pointer;
}

.post{
    height: 50px;
}


/* 베스트 댓글 */


.right-title{
    height: 50px;
    display: flex;
    align-items: center;
}

.best-title{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best{
    height: 300px;
    margin-right: 0;
}

.best .post{
    display: flex;
    justify-content: space-between;
}

.rank{
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.best-img{
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: left
}

.best-img img{
    width: auto;
    height: 60%;
    border-radius: 50%;
}

.best-content-area{
    flex-basis: 60%;
}

.best-info{
    height: 50%;
    display: flex;
    align-items: end;
}


.best-like{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: left
}



/* 공지사항 */
.info{
    height: 50px;
    width: 100%;
    display: flex;
    gap: 10px;
}

.info-title{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-content{
    flex-basis: 50%;
    align-items: center;
}

/* *{
    border: 1px solid black;
} */


/* 메인 바텀 ( */
.main-bot{
    height: 300px;
    display: flex;
    gap: 80px;
}


.main-bot article{
    flex-basis: 50%;
}

.mg-right{
    margin-right: 70px;
}


