*{box-sizing: border-box;}

/* *{border: 1px solid black;}  */

.mg-right{
	margin-right: 70px;
}

.mg-left{
	margin-left: 70px;
}

body{
    position: relative;
}

.container{
    width: 1024px;
    height: 1100px;
}

.title-area{
	display: flex;
	gap: 10px;
}

.title-area span{
	display: flex;
	align-self: center;
}

.search-area{
	display: flex;
	gap: 5px;
}

.search-area input{
	border: 0;
	outline: 0;
}

.search button{
	border: 0;
	background-color: white;
}

.search{
	border: 2px solid gray;
	border-radius: 5px;
}

.write-btn{
	width: 70px;
	height: 25px;
	background-color: #458BE2;
	color: white;
	border: 0;
	border-radius: 5px;
	text-align: center;
}

section{
    margin-top: 50px;
}

/* main-top(인기 게시글) */
.main-top{
    height: 200px;
    width: 100%;
}

.title{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    justify-content: space-between;
}


.main-top .title{
    border: 0;
    display: flex;
}


.popular{
    height: 150px;
    display: flex;
}

.popular-area{
	height: 150px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-post{
    width: 380px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.post-title{
	width: 100%;
    height: 50px;
    display: flex;
	align-items: center;    
	gap: 5px;
}

.post-content{
    height: 50px;
    display: flex;
    align-content: center;
}

.post-info{
    height: 20px;
    display: flex;
    justify-content: space-between;
}


/* 메인 미드 (전체, 베스트 댓글) */
.main-mid{
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.main-mid>.board{
    flex-basis: 50%;
}



/* 전체 */

.board{
    height: 300px;
}


.post{
    height: 50px;
    display: flex;
    flex-direction: column;
    cursor:pointer;
}


/* 베스트 댓글 */

.best{
	flex-basis: 30%;
    display: flex;
    flex-direction: column;
}

.best-title{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-post{
    height: 50px;
    display: flex;
    justify-content: center;
}

.rank{
    flex-basis: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.best-img{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-img img{
    height: 30px;
    width: auto;
    border-radius: 50%;
}

.best-content-area{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best-like{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 공지사항 */
.info{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-title{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-content{
    flex-basis: 80%;
    display: flex;
    align-items: center;
}




/* 메인 바텀 ( */
.main-bot{
    height: 300px;
    display: flex;
    gap: 150px;
}


.main-bot article{
    flex-basis: 50%;
}


.post:hover{
    background-color: #F4F6FD;
    transition: 0.3s;
}

.popular-post:hover{
    text-decoration: underline;
    font-weight: bolder;
}

.see-more{
	cursor:pointer;
}

.see-more:hover{
	text-decoration: underline;
}

