*{
	box-sizing: border-box;
	/* border: 1px solid black; */
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* 제목 */
.title-area{
	margin-top: 40px;
	width: 100%;
	height: 50px;
	display: flex;
	gap: 10px;
	
	border-bottom: 1px solid black;
}

.title{
	align-content: center;
}

.category{
	align-content: center;
}

.team{
	align-content: center;
}

/* 게시글 작성 */
.posting-area{
	width: 850px;
	margin-top: 20px;
	border: 2px solid #ddd; 
	border-radius: 20px;
}

.input-title{
	height: 50px;
	margin: 10px 30px 0;
	border-bottom: 2px solid #ddd;
	display: flex;
	align-items: center;
}

.input-title>input:nth-child(1){
	flex-basis: 95%;
	border: none;
	outline: none;
}

.input-file{
	flex-basis: 5%;
	display: flex;
}

.input-file input{
	display: none;
}

/* 이미지 영역 */
.img-box{
    display: flex;
    justify-content: space-between;
}

/* 이미지를 감싸는 div */
.boardImage{
    width: 230px;
    height: 230px;
    display: inline-block;
    text-align: center;
    position: relative;
	margin: 10px 30px;
}

/* 미리보기 영역 */
.boardImage label{
    width: 100%;
    height: 100%;

    border: 1px solid #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* file 타입 input */
.inputImage{
	display: none;
}

/* 미리보기 이미지 */
.preview{
    max-width: 100%;
    max-height: 100%;
    /* 지정된 칸 내부에 비율을 
    변경하지 않고 이미지 배치 */
}

/* 이미지 삭제 */
.delete-image{
    position: absolute;
    top: 0;
    right: 7px;
    font-size: 20px;
    cursor: pointer;
}

/* 내용 */
.input-content{
	height: 550px;
	margin: 10px 30px;
}

.btn-area{
	margin: 30px 0 50px;
	display: flex;
	gap: 10px;
}

button {
	width: 70px;
	height: 30px;
	
	border: none;
}

