/* *{border: 1px solid black;}  */

*{box-sizing: border-box;}

main{
    width: 1300px;
    height: 1000px;
}

/* 메뉴 */
.nav{
	height: 30px;
	margin-top: 70px;
	display: flex;
	justify-content: center;
}

.switch{
	width: 500px;
	display: flex;
}

.switch-category{
	flex-basis: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid gray;
	cursor: pointer;
}

switch-title{
	font-size: 14px;
}


/* 게시판 */
.board{
	height: 750px;
	margin-top: 30px;
}

.title-area{
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title{
	display: flex;
	align-items: center;
	gap: 10px;
}

/* 검색 */
.search-area{
	display: flex;
	gap: 10px;
}

.search-area input{
	border: 0;
	outline: 0;
	border-radius: 5px;
}

.search button{
	border: 0;
	background-color: white;
	border-radius: 5px;
}

.search{
	border: 2px solid gray;
	border-radius: 5px;
	display: flex;
}

.write-btn{
	width: 70px;
	height: 25px;
	background-color: #458BE2;
	color: white;
	border: 0;
	border-radius: 5px;
	text-align: center;
}


.post{
	height: 70px;
	display: flex;
	border-bottom: 1px solid gray;
	cursor: pointer;
}

.post:hover{
    background-color: #F4F6FD;
    transition: 0.3s;
}

.category{
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content{
	flex-basis: 90%;
}

.post-title{
	height: 70%;
	display: flex;
	align-items: center;
}


.post-info{
	height: 30%;
	display: flex;
	justify-content: space-between;
}

/* 페이지 */
.page{
	height: 30px;
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.paginationjs-pages>ul{
	display: flex;
	gap: 15px;
}

.paginationjs-pages a{
	font-size: 20px;
	cursor: pointer;
}



