.main{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;

}

.main-top-bar{
    background-color: #00509e;
    color: #fff;
    font-weight: bold;
}
.ranking-tab {
    display: flex;
}
.ranking-tab > div{
    border: 1px solid gray;
    width: 100%;
}


.ranking-tab > div a{
    text-decoration: none;
}
.teamRanking{
    border: 1px solid gray;
    width: 100%;
    border-collapse: collapse;
}
.teamRanking th,
.teamRanking td{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    font-size: 12px;
    text-align: center;
}

.matchschedule{
    height: 400px;
    width: 100%;
    background-color: blue;
}

.player-ranking{
    height: 400px;
    width: 1200px;
    background: lightpink;
}

.player-ranking-top{
    height: 50px;
    background-color: beige;
    width: 100%;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 15% 15% 0 0;
}

.win-ranking{
    display: flex;
    height: 100px;

}

.ranking-category{
    display: flex;
    flex-direction: row;
}

.player_record{
	display: flex;
	flex-direction: row;
}
.box-ranking{
	width: 240px;
	height:300px;
	border: 1px solid gray;
	display:flex;
	align-items: center;
	justify-content:center;
	flex-direction:column;
}
.rankingCategory{
	height : 30px;
	margin-bottom: 120px;
}
