.eastRanking,
.midRanking,
.westRanking,
.wildCard{
    width: 100%;
    text-align: center;
}


.game-records{
    display: flex;
    flex-direction:column;
}
.rankingTop {
	margin-bottom:15px;
	
}
.regionName{
    width: 100px;
}

.teamName{
    width: 200px;
}
.matchCount{
    width: 80px;
}

.matchWin,
.matchLose{
    width: 40px;
}
.winRate{
    width: 80px;
}
.gameBehind{
    width: 80px;
}
.consequence{
    width: 40px;
}
.battingAverage{
    width: 80px;
}
.ERA{
    width: 60px;
}
.recentMatch{
    width: 100px;
}
.recordTab{
	height: 50px;
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.nationalLeagueBox{
	background-color:pink;
	width: 50%;
	text-align: center;
}

.nationalLeague{
    width: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
}
.americanLeague{
    width: 50%;
    color: white;
    font-weight: bold;
    text-align: center;
    border:1px solid white
}
.recordTab{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    overflow: hidden;
}
.nationalLeague,
.americanLeague{
    border: none;
    
}
.teamRankingTop{
    border-radius: 15px 15px 0px 0px;
    text-align: center;
}
.americanLeague{
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.nationalLeague{
    background-color: #00509e;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

