*{
	box-sizing: border-box;
	/* border: 1px solid black;  */
}

.container{
	justify-content: center;
	width: 1024px;
	margin-top: 60px;
}

/* 뉴스*/
.news-info-container{
	height: 60px;
	width: 1024px;
	display: flex;
	justify-content : space-between;
	
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.news-info-container .news-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap:5px;
}

.news-info-container .news-info .news-title-info{
	margin-top: 10px;
}

.news-info-container .news-update-btns{
	align-content: end;
	margin-bottom: 5px;
	margin-right: 5px;
}

.news-info-container .news-update-btns span:hover{
	cursor: pointer;
}
/* 뉴스 제목 */

/* 뉴스 내용 */
.news-content-container{
	margin-left: 10px;
}

.news-content-container .news-content{
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 10px;
}

.news-content-container .news-content > img{
	height: 200px;
}

/* 뉴스 기타 정보 (좋아요, 댓글 등) */
.news-extra-info-container{
	border-bottom: 1px solid black;
}

.news-extra-info-container .news-extra-info{
	align-self: center;
	font-size: 10px;
	width: 200px;
}

.news-extra-info .pointer:hover{
	cursor: pointer;
}

/* 뉴스 댓글 입력 */
.reply-input-container{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.reply-input-container .btn-small__blue{
	width: 70px;
	height: 50px;
}

/*뉴스 댓글 출력*/

.reply-container{
	width: 900px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.reply-container .reply{
	padding: 20px;
}

.reply-container .reply-content{
	margin-top: 10px;
}

.reply-container .reply-author-info .reply-author{
	display: flex;
	align-items: center;
}

.reply-container .reply-author-info .author-name{
	display: flex;
	align-items: center;
	margin-top: 5px;
}
.reply-container .reply-author-info .author-profile{
	width: 35px;
	height: 35px;
	border-radius: 100px;
}

.reply-container .reply-extra-info{
	margin-top: 10px;
}

/* 페이지네이션 스타일링*/
.paginationjs-pages{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.paginationjs-pages ul {
	display: flex;
	gap: 10px;
}

.paginationjs-pages a:hover{
	cursor: pointer;
}
