/* 유틸 */
*{box-sizing: border-box;}

/* *{border: 1px solid black;} */

/* container */
.container{
    width: 1024px;
}

section{
    margin: 30px 0;
}

/* 페이지 커버 */
.pagecover{
	height: 200px; 
	
}

.pagecover-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #D2D2D2;
}

/* 소개띠 */
.pagecover-bottom{
	height: 50px;
	background-color: #458BE2;
	
}

.pagecover-bottom-inner{
	height:50px;
	max-width: 1024px;
	margin: 0 auto;
	justify-content: end;
}

.pagecover-bottom-inner ul{
	display: flex;
	height:50px;
	align-items: center;
	list-style:none;
	gap: 0 10px;
}

.pagecover-bottom-inner ul:hover{
	cursor: pointer;
}

.pagecover-bottom-inner ul li:hover{
	text-decoration:underline;
	text-underline-offset: 3px;
	text-decoration-thickness : 1.5px;
}

/* 소개띠 끝 */

/* 메인 시작 */
.main-background-img{
	background-image: url("https://tigers.co.kr/img/sub/player_view01.png");
	height:500px;
	position: relative;
}

.player-info{
	width: 100%;
	height: 500px;
	display: flex;
}

.player-info-content{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
}

.player-info-content .info-content{
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.player-info-content .info-content-top{
	line-height:2;
	margin-bottom: 50px;
}

.player-info-content .info-content-top span{
	font-size: 48px;
}
.player-info-content .info-content-top .player-name{
	padding-left:30px;
	padding-right: 20px;
}

.player-num{
	color: #EF4E4E ;
}

.player-info-content .info-content-top i{
	font-size: 48px;
}

#heart{
	color:#ddd;
	cursor:pointer;
}

#heart.active{
	color:#EF4E4E;
	cursor:pointer;
}

.player-info-content .info-content .info-content-bottom{
	font-size: 20px;
	width: 100%;
}
.player-info-content .info-content .info-content-bottom th{
	width: 30%;
}

.player-info-img{
	height: 100%;
	object-fit:contain;
}

.player-info-img img{
	width: 100%;
	height: 100%;
}

/* card */
.player-card{
	display: flex;
	justify-content: space-around;
	margin: -15px auto 0;
}

.player-card .card-thumbnail{
	height: 120px;
	width: calc(18% - 4px);
	background-color:#727272ad;
	
}

.player-card .card-thumbnail .card-thumbnail-infos{
	display: flex;
	height: 100%;
}

.player-card .card-thumbnail .card-thumbnail-infos hr{
	margin: 0;
	color: white;
}

.player-card .card-thumbnail .card-thumbnail-position{
	font-size: 20px;
	margin: auto;
	height: 40%;
	align-content: center;
}

.player-card .card-thumbnail .card-thumbnail-content{
	margin: auto;
	font-size: 28px;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* 상세 프로필 */
.player-profile{
	width: 100%;
	height: 300px;
	margin: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-profile .player-profile-detail{
	height: 95%;
	width: 95%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	border-style: hidden;
	text-align: center;
	overflow: hidden;
}


.player-profile .player-profile-detail th{
	background-color: #458BE2;
	color: white;
	font-size: 14px;
}
.player-profile .player-profile-detail td{
	background-color: white;
	font-size: 14px;
}

.player-profile .player-profile-detail pre{
	background-color: white;
	font-size: 14px;
	overflow: auto;
	margin: auto 0;
	white-space: pre-wrap;
}

.player-profile .career-area{
	width:50%;
}

/* 상세 프로필 끝 */

/* 뉴스 */

/* 컨테이너 하단 하이라이트 클립 */

.main-news {
	width: 100%;
	position:relative;
	margin: 30px 0;
}
  
.main-news .main-news-content {
	width: 1000px;
	height: 370px;
	margin: auto;
	padding:10px;
	flex-direction: column;
}

.main-news-content .news-content-top {
	display: flex;
	/* width:80%; */
	justify-content: space-between;
	height: 50%;
	margin: 3px;
	margin-bottom: 10px;
}
	
.main-news-content .card-thumbnail {
	height: 310px;
	width: 420px;
}

.card-thumbnail-title p{
margin-top: 10px;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
word-break: break-word;

display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical
}

.main-news-content .navigation-wrapper {
	max-width: 1020px;
	margin:0 auto;
	display:flex;
	justify-content:space-between;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.main-news-content .swiper-button-prev,
.main-news-content .swiper-button-next {
  position:static;
  margin-top:0;
}

/* 뉴스끝 */

/* 투수 기록 */

.pitching-records {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.pitching-records .pitching-records-table {
	height: 100%;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	border-style: hidden;
	text-align: center;
	overflow: hidden;
	border: 1px solid gray;
}

.pitching-records th,
.pitching-records td{
    font-size: 14x;
    text-align: center;
    border: 1px solid gray;
}



.pitching-records th{
    background-color: #D2D2D2;
	color: black;
	font-size: 14px;
	padding: 5px 0;
}

.pitching-records-table-title th{
	background-color: #458BE2;
    color: #fff;
	font-size: 20px;
	padding:10px 0;
}

.pitching-records td{
	background-color: white;
}

/* 컨디션 기록 */
.pitching-records-condition{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-bottom: 30px;
	width:100%;
}

.pitching-records-condition .pitching-comment-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content:center;
	width:100%;
	height:99%;
	border-radius: 10px;
	overflow: hidden;
	
}

.pitching-records-condition .title{
	width:100%;
	background-color: #458BE2;
    color: #fff;
	font-size: 20px;
	padding:10px 0;
	text-align: center;
	
}

.pitching-records-condition .pitching-button-area{
	display: flex;
	justify-content: end;
	gap:10px;
}

.pitching-records-condition .pitching-button-area button{
	padding: 10px 20px;
	border-radius: 5px;
	border:0;
	margin:5px 0;
	color: white;
}

#era-button{
	background-color : #007aff;
}

#victory-button{
	background-color : #dc3545;
}


#odd-button{
	background-color: #fd7e14;
}

#k-button{
	background-color: #ffc107;
	
}

/* 컨디션 표 */
.chart-container {
  width: 100%;
  text-align: center;
  gap:10px;
}

#myChart {
  width: 100%;
  height: 100%;
}

/* 응원댓글 */ 
.player-comment{
	display: flex;
	justify-content: center;
	align-items:center;
}

.player-comment .player-comment-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content:center;
	width:100%;
	height:99%;
	border-radius: 10px;
	overflow: hidden;
	
}

.player-comment .title{
	width:100%;
	background-color: #458BE2;
    color: #fff;
	font-size: 20px;
	padding:10px 0;
	text-align: center;
	
}

.player-comment-content .former-comment{
    display:row;
    margin: 10px 0; 
}

.former-content .reply-container .reply-author-info .reply-author{
	display: flex;
	align-items: center;
}

.reply-container .reply-author-info .author-name{
	display: flex;
	align-items: center;
	margin-top: 5px;
}



.reply-container .reply-author-info .author-profile{
	width: 35px;
	height: 35px;
	border-radius: 100px;
}

.reply-container .reply-extra-info{
	margin-top: 10px;
}

/* 페이지네이션 스타일링*/
.paginationjs-pages{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.paginationjs-pages ul {
	display: flex;
	gap: 10px;
}

.paginationjs-pages a:hover{
	cursor: pointer;
}
.player-comment-content .former-comment span{
	display: inline-block;
 	border-radius:10px;
    padding:5px;
    font-size: 18px;
}

.player-comment .input-area{
	width: 90%;
	margin: 0 auto;
}

.player-comment .player-comment-content .input-area form{
	display: flex;
	align-items:center;
	justify-content: space-between;
}

.player-comment textarea{
	width: 90%;
	border-radius: 10px;
	border:0;
}

.player-comment button{
	height : 30px;
	width: 90px;
	border-radius : 10px;
	background-color: #458BE2;
	color: #fff;
	border: 0;
}


/* 답장 공간 */

.reply{
	height: 100%;
	width: 90%;
	margin: 0 auto;
	display: flex;
	border-bottom: 1px sollid black;
	justify-content: space-between;
	
}

.author{
	display: flex;
	align-content: center;
	text-align: center;
}

.comment{
	width: 70%;
	align-content: center;
	display: flex;
	flex-direction: column;
}

.reply-info{
	display: flex;
	justify-content: end;
	width: 30%;
	text-align: end;
	align-content: center;
	margin-right: 10px;

}

.reply-info>*{
	cursor: pointer;
	font-size: 10px !important;
}



/* 답장 공간 */
/* 댓글 입력 */

form{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

textarea{
	border-radius: 5px;
}

form>button{
	width: 70px;
	height: 30px;
	
	border: none;
	border-radius: 5px;
	background: #458BE2;
	color: white;
}



