/* 메인 컨테이너 */
.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* 프로필 좌측 네비게이션 */
.profile-left{
	width: 320px;
	border: none;
    border-right: 1px solid rgb(114 114 114 / 25%);
}

.profile-left .user-profile{
	height: 220px;
	flex-direction: column;
	align-items: center;
}

.profile-left .user-profile img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	display: flex;
	flex-direction:column;
	align-items: center;
}

.profile-left .user-nav{
	margin-left: 30px;
}
.profile-left .user-nav > div{
	margin: 30px 0;
}

.profile-left .user-nav ul li{
	margin: 10px 0;
}

.profile-left .user-nav ul li a{
	font-size : 20px;
}
/* 프로필 우측 컨텐츠 */
.profile-content{
	width: calc(1024px - 320px);
	margin-left: 20px;
}

.profile-content .content-header{
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin-top: 10px;
}

.profile-content .content-header > div{
	height: 20px;
	align-items: center;
}

.profile-content .content-header > div:hover{
	cursor: pointer;
}

.profile-content .content-header img{
	width: 20px;
}

.profile-content .content-main{
	padding: 10px;
	height: 600px;
}

.content-main .content-elements .item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	border-radius: 5px;
}

.content-elements .item img{
	width: 20px;
}

.content-elements .item img:hover{
	cursor: pointer;
}

.content-elements .item .element-text{
	display: flex;
	align-items: center;
	padding : 5px 10px;
	gap: 15px;
}

/* ellipsis 적용하여 ... 으로 보이게하기 */
.content-elements .item .item-text{
	width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;  
    word-break: break-word;
    display: -webkit-box;    
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.content-elements .item .item-text:hover{
	cursor: pointer;
}

.content-elements .item .element-edit{
	margin-right: 10px;
	margin-top : 5px;
}

/* 페이지네이션*/
.paginationjs-pages{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.paginationjs-pages ul {
	display: flex;
	gap: 10px;
}

.paginationjs-pages a:hover{
	cursor: pointer;
}

.profile-info{
	margin-top: 20px;
	padding: 0 20px;
}

.profile-info .info-header{
	margin: 10px 0 ;
}

.profile-info .info-contents{
	flex-direction: column;
	padding: 20px;
	gap:20px;
}
.profile-info .info-contents > div{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding : 5px 0 ;
	border-bottom: 1px solid rgba(139, 139, 139, 0.24);
}

/* 정보 동의 라디오 버튼*/
.profile-info .info-contents > div .form-switch{
	display: flex;
	align-items: center;
	gap : 10px;
}

.profile-info .info-contents .form-check.form-switch:hover{
	cursor: pointer !important;
}

.profile-info .info-contents > div .form-check-label{
	display: inline-block;
	width: 40px;
}

.profile-info .info-contents .form-check-input{
	width: 40px;
	height: 20px;
}

.article-box.article__white{
	height: 400px ;
}

.profile-info .resign-btns{
	width: 500px;
	margin: 20px auto;
	justify-content: center;
	gap:30px;
}


/* 관리자페이지 페이지네이션*/ 
.content-main .manage-table{
	width: 90%;
	max-height: 600px;
	overflow-y: scroll;
}
.content-main .manage-table thead{
	background-color: #F4F6FD;
	text-align: center;
}

.content-main .manage-table tr > td{
	text-align: center;
}

.content-main .manage-table tr > td img{
	width: 20px;
}
.content-main .manage-table tr > td img:hover{
	cursor: pointer;
}

.content-main .manage-table tr > td:first-of-type{
	width: 40px;
}
.content-main .manage-table tr > td:nth-of-type(2){
	width: 100px;
}

.content-main .manage-table tr, .content-main .manage-table td{
	border: 1px solid;
	height: 25px;
}









