/* 메인 컨테이너 */
.container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* 프로필 좌측 네비게이션 */
.profile-left{
	width: 320px;
	border: none;
    border-right: 1px solid rgb(114 114 114 / 25%);
}

.profile-left .user-profile{
	height: 220px;
	flex-direction: column;
	align-items: center;
}

.profile-left .user-profile img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	display: flex;
	flex-direction:column;
	align-items: center;
	margin-bottom: 10px;
}
.profile-left .user-profile img:hover{
	cursor: pointer;
}

.profile-left .user-nav{
	margin-left: 30px;
}
.profile-left .user-nav > div{
	margin: 30px 0;
}

.profile-left .user-nav ul li{
	margin: 10px 0;
}

.profile-left .user-nav ul li a{
	font-size : 20px;
}
/* 프로필 우측 컨텐츠 */
.profile-content{
	width: calc(1024px - 320px);
	margin-left: 30px;
}

.profile-content .content-header{
	position : relative;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	margin-top: 10px;
}

.profile-content .content-header > div{
	height: 20px;
	align-items: center;
}

.profile-content .content-header > div:hover{
	cursor: pointer;
}

.profile-content .content-header img{
	width: 20px;
}

.profile-content .content-header .search-area{
	display: flex;
	gap: 10px;
}

.profile-content .content-header .search-area input{
	border: 1px solid black;
	outline: 0;
	border-radius: 5px;
	width: 450px;
	padding : 2px 5px;
}
.profile-content .content-header .search-category{
	width: 90px;
	border-radius: 5px;
	padding : 2px 1px;
}

.profile-content .content-header .search{
	border: 1px solid black;
	background-color: white;
	padding : 3px 10px;
	border-radius: 5px;
}
.profile-content .content-main{
	padding: 10px;
	height: 630px;
}

.content-main .content-elements .item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
	border-radius: 5px;
}

.content-elements .item img{
	width: 20px;
}

.content-elements .item img:hover{
	cursor: pointer;
}

.content-elements .item .element-text{
	display: flex;
	align-items: center;
	padding : 5px 10px;
	gap: 15px;
}

/* ellipsis 적용하여 ... 으로 보이게하기 */
.content-elements .item .item-text{
	width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;  
    word-break: break-word;
    display: -webkit-box;    
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

.content-elements .item .item-text:hover{
	cursor: pointer;
}


.content-elements .item input.item-text{
	outline: none;
	border: none;
	border: 1px solid rgba(255, 0, 0, 0);
	color: black;
	box-sizing: border-box;
}
.content-elements .item input.item-text:hover{
	cursor: default;
}

.content-elements .item input.item-text.active{
	border: 1px solid black;
	background: white !important;
}

.content-elements .item input.item-text.active:hover{
	cursor: text;
}

.content-elements .item .element-edit{
	margin-right: 10px;
	margin-top : 5px;
}

/* 일반 유저의 페이지네이션*/
.paginationjs-pages{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.paginationjs-pages ul {
	display: flex;
	gap: 10px;
}

.paginationjs-pages a:hover{
	cursor: pointer;
}

.profile-info{
	margin-top: 20px;
	padding: 0 20px;
}

.profile-info .info-header{
	margin: 10px 0 ;
}

.profile-info .info-contents{
	flex-direction: column;
	padding: 20px;
	gap:20px;
}
.profile-info .info-contents > div{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding : 5px 0 ;
	border-bottom: 1px solid rgba(139, 139, 139, 0.24);
}

/* 정보 동의 라디오 버튼*/
.profile-info .info-contents > div .form-switch{
	display: flex;
	align-items: center;
	gap : 10px;
}

.profile-info .info-contents > div .form-check-label{
	display: inline-block;
	width: 40px;
}

.profile-info .info-contents .form-check-input{
	width: 40px;
	height: 20px;
}

.profile-info .info-contents>div .form-check-label:hover,
.profile-info .info-contents .form-check-input:hover {
    cursor: pointer;
}

.article-box.article__white{
	height: 400px ;
}

.profile-info .resign-btns{
	width: 500px;
	margin: 20px auto;
	justify-content: center;
	gap:30px;
}
/* 일반 페이지 이미지 변경 모달 */
#changeImgModal .modal-dialog{
	margin: 0;
	top: 50%;
	left : 50%;
	transform : translate(-50%, -50%) !important;
}

#changeImgModal .changeImg-section{
	align-items: center;
	justify-content: center;
}

#changeImgModal .changeImg-section > div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#changeImgModal .changeImg-thumbnail img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	display: flex;
	flex-direction:column;
	align-items: center;
	margin-bottom: 10px;
}

#changeImgModal .changeImg-thumbnail p{
	margin: 0;
}

#changeImgModal .changeImg-input{
	width: 260px;
	margin-left: 30px;
}
#changeImgModal .changeImg-input > div{
	width: 100%;
	margin: 10px 10px;
}

#changeImgModal .changeImg-input p{
	margin: 5px;	
}

#changeImgModal .changeImg-input input{
	margin-left: 30px;
}

#changeImgModal .changeImg-input #inputProfieImg{
	width : 250px;
    overflow: hidden;
    text-overflow: ellipsis;  
    word-break: break-word;  
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

#changeImgModal .modal-footer{
	justify-content: center;
	gap : 20px;
}

#changeImgModal .modal-footer button{
	width: 200px;
}

/* 일반 페이지 히스토리용 모달*/

#historyModal .modal-dialog {
	max-width: 500px;
}

#historyModal .modal-body {
	width: 100%;
	max-height: 250px;
	overflow-y: scroll;
}

#historyModal .history-table {
	width: 100%;
}

#historyModal .history-table thead{
	background-color: #F4F6FD;
	text-align: center;
}

#historyModal .history-table tr > td{
	text-align: center;
}


#historyModal .history-table tr, .history-table td{
	border: 1px solid;
	height: 29px;
}
	


/* 관리자페이지 페이지네이션*/ 
.content-main .manage-table{
	width: 100%;
	max-height: 580px;
	overflow-y: scroll;
}
.content-main .manage-table thead{
	background-color: #F4F6FD;
	text-align: center;
}

.content-main .manage-table tr > td{
	text-align: center;
}

.content-main .manage-table tr > td img{
	width: 20px;
}
.content-main .manage-table tr > td img:hover{
	cursor: pointer;
}

.content-main .manage-table tr > td:first-of-type{
	width: 40px;
}
.content-main .manage-table tr > td:nth-of-type(2){
	width: 100px;
}

.content-main .manage-table tr, .content-main .manage-table td{
	border: 1px solid;
	height: 29px;
}

.content-main .manage-table .reportContent span{
	display:inline-block;
	width : 100%;
	height : 15px;
    overflow: hidden;
    text-overflow: ellipsis;  
    display: -webkit-box;   
    word-break: break-word;  
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

/* 관리자 페이지 모달 */

#adminModal .modal-dialog {
	max-width: 720px;
}

#adminModal .modal-header .modal-title{
	width: 100%;
	text-align: center;
}

#adminModal .modal-body{
	align-self: center;
	padding-top : 0;
}

#adminModal .modal-dialog .modal-content{
	height: 100%
}

#adminModal .modal-body .modal-row{
	display: flex;
	width : 100%;
	text-align: center;
	margin-top: 25px;
	gap: 30px;
	justify-content: space-between;
}

#adminModal .modal-body .modal-row label,
#adminModal .modal-body .modal-row input{
	width : 300px;
	height: 30px;
}

#adminModal .modal-body .modal-row label{
	text-align: left;
	height: 20px;
	display:flex;
	align-items: center;
}

#adminModal .modal-body .modal-row [name='content'],
#adminModal .modal-body .modal-row [name='board_title']{
	width: 630px;
}

#adminModal .modal-body .move-board{
    display: block;
    width: 100px;
    text-align: center;
    margin : 0 auto;
    margin-top: 10px;
}

#adminModal .modal-body .modal-btns{
    margin-top: 35px;
    justify-content: space-between;
    display: flex;
}

#adminModal .modal-body .modal-btns [class*='btn-']{
	width: 200px;
}

#adminModal .modal-body p {
	border: 1px solid;
	text-align: left;
	padding : 3px;
	display: flex;
	align-items: center;
}	

#adminModal .modal-body .modal-row >div{
	width:  100%;
}

#adminModal .modal-body #reportTargetContent{
	width : 100%;
	height : 40px;
    overflow: hidden;
    text-overflow: ellipsis;  
    word-break: break-word;
    display: -webkit-box;    
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}




