/* 유틸 */
*{box-sizing: border-box;}

/* container */
.container{
    width: 1200px;
}

section{
    margin: 30px 0;
}

.team-each-image{
    background-image: url("/FRONTEND/public/images/kia.png");
}