/* 유틸 */
* {
  box-sizing: border-box;
/*   border: 1px solid black;  */
}

/* container */
.container {
  width: 1024px;
}

.team-each-image{
	height: 600px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: end;
    background-repeat: no-repeat;
    background-size : cover;
    background-position: center;
}


.team-each-image .today-schedule {
  width: 370px;
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: yellow; */
  height: 250px;
  margin-bottom: 20px;
}

/* 날짜 스와이퍼 - 메인  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swiper-logo img {
  width: 105px;
  height: 105px;
}

.swiper-logo span {
  font-size: 28px;
}

.swiper-team-info {
  width: 100%;
}

.swiper-team-name {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swiper-team-name button {
  outline: 0;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

/* Hot issue */

/* 컨테이너 상단 좌하 메인뉴스 */

.hot-issue {
  width: 100%;
}

.hot-issue .main-news .content-header{
	margin: 10px 0;
  	color:#f35656 ;
}

.main-news-content .card-thumbnail {
  height: 310px;
  width: 420px;
}


.container .container-top .main-news {
  width: 450px;
  height: 390px;
  margin-bottom: 30px;
  flex-direction: column;
}

.container .main-news .main-news-content {
  width: 800px;
  height: 370px;
  margin: auto;
  padding:10px;
  flex-direction: column;
  
}

.main-news-content .news-content-top {
  display: flex;
  /* width:80%; */
  justify-content: space-between;
  height: 50%;
  margin: 3px;
  margin-bottom: 10px;
}

.main-news-content .news-content-bottom {
  width: 100%;
  height: 50%;
  padding: 0 10px;
}

.main-news-content .news-content-bottom:hover {
  cursor: pointer;
}

.main-news-content .news-content-bottom>.new-headline {
  padding: 4px 0;
  justify-content: space-between;
}

.card-thumbnail-title p{
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

.main-news-content .news-content-bottom p:hover {
  font-weight: 600;
  transition: all ease-in-out 0.1s;
}

.main-news-content .news-content-bottom span {
  width: 60px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical
}


/* 공지사항 */
.info{
	height: 40px;
}

.info .info-one{
	max-width : 1024px;
	margin: 0 auto;
	height : 40px;
	display: flex;
}

.info .info-one .info-title{
	width:20%;
	height: 100%;
	align-content: center;
  	text-align: center;
}

.info-content{
	width: 70%;
	display: flex;
	height:100%;
	overflow: hidden;
}

.info-one .suppl{
	width: 10%;
	text-align: start;
	align-content: center;
}
.info-content > .swiper-wrapper{
	display: flex;
}

.info-content .swiper-wrapper .swiper-slide{
  height:100%;
  width: 100%;

}

.swiper-info .swiper-wrapper .swiper-slide > span{
  text-align: start;
  align-content:center;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  margin-top: 10px;
  height:20px;
  width: 300px;

}

.swiper-info .swiper-wrapper .swiper-slide > span:hover{
	text-decoration:underline;
}

/* 응원게시판 */
.board{
	margin:30px 0;
	width: 100%;
}

.board .title{
  	color:#f35656 ;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	
}

.board hr{
	margin:5px 0;
}


.board .post-title{
	width: 100%;
    height: 50px;
    display: flex;
	align-items: center;    
	gap: 5px;
}

.board .post-content{
    height: 50px;
    display: flex;
    align-content: center;
}

.board .post-info{
    height: 20px;
    display: flex;
    justify-content: space-between;
}
