/* 유틸 */
*{box-sizing: border-box;}

/* *{border: 1px solid black;} */

/* container */
.container{
    width: 1024px;
}

section{
    margin: 30px 0;
}

/* 페이지 커버 */
.pagecover{
	height: 200px; 
	
}

.pagecover-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #D2D2D2;
}

/* 소개띠 */
.pagecover-bottom{
	height: 50px;
	background-color: black;
}


.pagecover-bottom-inner{
	max-width: 1024px;
	justify-content: end;
	margin: 0 auto;
	height: 100%;
}

.pagecover-bottom-inner ul{
	display: flex;
	height:50px;
	align-items: center;
	list-style:none;
	gap: 0 10px;
}

.pagecover-bottom-inner ul:hover{
	cursor: pointer;
}

.pagecover-bottom-inner ul li:hover{
	text-decoration:underline;
	text-underline-offset: 3px;
	text-decoration-thickness : 1.5px;
}


.pagecover-bottom-inner> .team-name{
	height: 100%;
	align-content: center;
}

/* 선수 카드 */

.team-players {
  width: 100%;
  margin:50px 0;
}

/* 선수 카드 버튼 영역 */
.team-players .button-area{
	width: 100%;
	display: flex;
	justify-content: end;
	gap: 10px;
	margin: 0 0 50px 0;
}

.button-area button{
    padding: 10px 20px;
    border: 0;
    background-color: 0;
    border-radius: 10px;
    font-size: 15px;
}

.button-area #add-player-btn{
    color: white;
    margin-right: 10px;
}

.button-area #add-player-btn:hover,
.button-area #delete-player-btn:hover{
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3) !important;
}


.team-player-table{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
  	border-spacing: 10px;
  	border-collapse: separate;
}

.team-player-table td{
	margin-bottom: 20px;
}

.team-players .card-thumbnail {
  height: 250px;
  width: 200px;
}

.team-players .card-thumbnail .card-thumbnail-img{
	height: 70%;
	width: 100%;
	
}

.team-players .card-thumbnail >a{
	height:100%;
}

.team-players .card-thumbnail a>img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card-thumbnail-position p{
  margin-top: 10px;
  width: 100%;

}

.team-players .card-thumbnail .card-thumbnail-infos .card-thumbnail-content a:hover{
	text-decoration:underline;
	text-underline-offset:5px;
	text-decoration-thickness : 1.5px;
	text-decoration-color : white;
}


.team-players .card-thumbnail .card-thumbnail-infos{
	margin:0;
	height:30%;
	background-color: #2a7ce0;
}



















/* team-color */
.KIA_color{
	background-color: #C70025 ;
}

.HANWHA_color{
	background-color:#F1592A;
	
}

.doosan_color{
	background-color:#211C3D;
}

.lg_color{
	background-color:#9F9F9F;
}

.samsung_color{
	background-color:#094EA3;
}

.base_color{
	background-color: #2a7ce0;
}

.kt_color{
	background-color:#000000;
}

.ssg_color{
    background-color: #EC1C23;
}

.lotte_color{
	background-color: #000000;
}

.nc_color{
	background-color: #274576;
}

.kiwoom_color{
	background-color: #862335;
}