/* 유틸 */
*{box-sizing: border-box;}

/* *{border: 1px solid black;} */

/* container */
.container{
    width: 1024px;
}

section{
    margin: 30px 0;
}

/* 페이지 커버 */
.pagecover{
	height: 200px; 
	
}

.pagecover-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #d2d2d2;
}

/* 소개띠 */
.pagecover-bottom{
	height: 50px;
}

.pagecover-bottom-inner{
	max-width: 1024px;
	justify-content: end;
	margin: 0 auto;
	height: 100%;
}

.pagecover-bottom-inner> .team-name{
	height: 100%;
	align-content: center;
}


/* 메인 */
/* 유틸 */
.container hr{
	margin:0;
}
/* team-video */ 
.team-video{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
	overflow:hidden;
	height: 500px;
	
}

.team-video iframe{
	width:100%;
	position: absolute;
	height: 100%;
}

/* team-video 끝 */ 

/* team-story 시작 */
.team-story{
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-story p{
	line-height:2;
	text-align: center;
}

.team-story p:first-child{
	padding: 10px 0;
}

/* team-story 끝 */

/* team-ci 시작 */
.team-ci{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.team-ci p:first-child{
	padding: 10px 0;
}


.team-ci-content{
	width:100%;
	gap: 20px;
}

.team-ci-content-img{
	width:60%;
}

.team-ci-content p{
	line-height:2;
}
/* team-ci 끝 */

/* team-logo 시작 */
.teams-logo{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 50px;
}

.teams-logo p:first-child{
	padding: 10px 0;
}


.team-logo-content{
	width:100%;
	gap: 20px;
}

.team-logo-content-img{
	width:60%;
}

.team-logo-content p{
	line-height:2;
}
/* team-logo 끝 */













/* team-color */
.kia_color{
	background-color: #C70025 ;
}

.hanwha_color{
	background-color:#F1592A;
	
}

.doosan_color{
	background-color:#211C3D;
}

.lg_color{
	background-color:#9F9F9F;
}

.samsung_color{
	background-color:#094EA3;
}

.kt_color{
	background-color:#000000;
}

.ssg_color{
    background-color: #EC1C23;
}

.lotte_color{
	background-color: #000000;
}

.nc_color{
	background-color: #274576;
}

.kiwoom_color{
	background-color: #862335;
}