/* 유틸 */
*{box-sizing: border-box;}

/* *{border: 1px solid black;}  */ 

/* container */
.container{
    width: 1024px;
    height: 651px;
}

section{
    margin: 30px 0;
}


/* 헤더 */
.intro-title-desc img{
    align-items: center;
}


.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-area button{
    padding: 10px 20px;
    border: 0;
    background-color: 0;
    border-radius: 10px;
    font-size: 15px;
}

.button-area #add-team-btn{
    background-color: #458BE2;
    color: white;
    margin-right: 10px;
}

.button-area #add-team-btn:hover,
.button-area #delete-team-btn:hover{
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.3) !important;
}

.button-area #delete-team-btn{
    background-color: white;
    color: #458BE2;
    border: 1px solid #458BE2;
}

/* 메인 */

.teams-card{
    width: 230px;
    height: 130px;
    background-color: #D2D2D2;
}

.teams-card:hover{
    background-color: #458BE2;
    transition: all ease-in-out 0.1s;
    box-shadow: 2px 2px 5px rgba(69, 69, 69, 0.486);
}

.team-logo{
    width: 100px;
    padding-left: 5px;
    margin-bottom: 5px;
}


.team-logo-img{
	height: 80%;
	display: flex;
	align-items:center;
}
.teams-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 5px;
}


.teams-name > img{
    width: 14px;
}

.al-east-icons{
    width: 994px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

