/* 메인 컨테이너 */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* 컨텐츠 헤더 */
.header-text{
    font-size: 28px;
    font-weight: 700;
    width: 100%;
    text-align: left;
}

.hr__gray{
    width: 100%;
}

/* 컨텐츠 */
.signup-form{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 600px;
    height: 520px;
    padding: 20px;
}

.signup-form input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 2px;
    padding-left: 20px;
}

.signup-form input:active, .signup-form input:focus, .signup-form input:hover{
    outline: none;
    outline: 2px solid #458BE2;
    box-shadow: 1px 1px 3px #458BE2;
}

/* 컨텐츠 - 필수정보 */
.signup-form .signup-essential{
    height: 200px;
    text-align: center;
} 

.signup-form .signup-essential > div{
    position: relative;
}

.signup-essential .password-eye{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 45px;
    top: 11px;
}
.signup-essential .password-eye:hover{
    cursor: pointer;
}

/* 컨텐츠 - 추가 정보 */
.signup-form .signup-unnecessary{
    height: 200px;
    text-align: center;
} 

/* 컨텐츠 - 추가 정보 라디오버튼*/
.signup-form .signup-unnecessary .radio-box-container{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 2px;
}

.radio-box input{
    display: none;
  }
  
.radio-box{
    display: flex;
}
.radio-box label{
    padding-left: 20px;
    position: relative;
    color: #727272;
    background-color: #ffffff;
    font-size: 10px;
    text-align: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(69, 69, 69, 0.3);
    margin: 0 1px;
}

.radio-box input:checked + label{
    color: #3158e6;
    font-weight: 600;
    text-shadow: 1px 1px 1px #97a8e7;
    box-shadow: 1px 1px 3px #8198ecd0;
    z-index: 1;
}