*{box-sizing: border-box;}


body{
    position: relative;
}

.container{
    width: 1024px;
    height: 1100px;
}

section{
    margin-top: 50px;
}

/* main-top(인기 게시글) */
.main-top{
    height: 200px;
    width: 100%;
}

.title{
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-top .title span{
    margin-left: 70px;
}


.popular{
    height: 150px;
    display: flex;
}

.popular-area{
	height: 150px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-post{
    width: 380px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.post-title{
    height: 50px;
    align-content: center;
}

.post-title span{
    margin-right: 5px;
}

.post-content{
    height: 50px;
    align-content: center;
}

.post-info{
    height: 20px;
    display: flex;
    justify-content: space-between;
}


/* 메인 미드 (전체, 베스트 댓글) */
.main-mid{
    height: 300px;
    display: flex;
    gap : 80px;
}

.main-mid article{
    flex-basis: 50%;
    position: absolute;
}



/* 전체 */


.board-title>hr{
    width: 500px;
}

.mg-left{
    margin-left: 70px;
}

.board{
    height: 300px;
    cursor: pointer;
}

.post{
    height: 50px;
}


/* 베스트 댓글 */

.best{
    margin-left: 650px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.best-title{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.best-post{
    height: 50px;
    display: flex;
    justify-content: center;
}

.rank{
    flex-basis: 5%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.best-img{
    flex-basis: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-img img{
    height: 30px;
    width: auto;
    border-radius: 50%;
}

.best-content-area{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best-like{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 공지사항 */
.info{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-title{
    flex-basis: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.info-content{
    flex-basis: 80%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

/* *{
    border: 1px solid black;
} */


/* 메인 바텀 ( */
.main-bot{
    height: 300px;
    display: flex;
    gap: 80px;
}


.main-bot article{
    flex-basis: 50%;
}

.mg-right{
    margin-right: 70px;
}

.post:hover{
    background-color: #F4F6FD;
    transition: 0.3s;
}

.popular-post:hover{
    text-decoration: underline;
    font-weight: bolder;
}

